{% extends "header.html" %}
{% block content %}

<div class="container">

    <h1>About the Project:</h1>

    <p>
        My name is Richard Knoche, and I created DecoRater over three weeks while working at Insight Data Science.  DecoRater was created for the peer-to-peer furniture resale website, <a href="https://www.aptdeco.com/">AptDeco.com</a>.  The website simplifies the resale process by handling all of the logistics for its users. The AptDeco team fills in any missing details about the furniture, creates high quality listings on their website, and even delivers the furniture when it’s purchased.
    </p>
    <p>
        The first step of creating a listing on AptDeco is to submit a picture of the furniture. The editors at AptDeco will review the pictures, and decide if they are of high enough quality to be edited and displayed on the front page of the listing. Unfortunately, 75% of the submitted images are low quality, and can’t be displayed on the front of a listing. This means that AptDeco’s team spends a large amount of time sifting through low quality pictures and requesting improvements from their users. In addition to the amount of time this takes, some users never submit better images, leading to a lost sale for AptDeco and its users.
    </p>
    <p>
        With this in mind, I created DecoRater — an algorithm for automatically assessing the quality of furniture images on AptDeco.com. DecoRater provides immediate feedback to AptDeco users, increasing the odds that they will submit high quality images for their listings, and reducing the number of low-quality photos that the AptDeco team has to sift through by 40%. AptDeco estimates that DecoRater will save $45,000 annually.
    </p>

    <h1>How It Works:</h1>

    <p>
        DecoRater was built using AptDeco’s MySQL database of half a million images.  The quality of an image is determined by a AdaBoost Random Forest Classifier which outputs the probability that the editors will use an image for the front page of a listing.  The classifier uses over 60 hand-crafted features to compute this probability.  For a more detailed discussion, please see my <a href="http://www.dealingdata.net/2017/02/05/Automatic-Image-Quality-Assessment/">blog post</a>.
    </p>
    <p>
        Behind the scenes, DecoRater is coded in Python, and makes use of the OpenCV, Pandas, NumPy, and Scikit-Learn libraries.  This website is hosted on AWS, and implemented with Flask, Bootstrap, JavaScript, and JQuery.

        The source code is available on <a href="https://github.com/Raknoche/AptDeco">Github</a>.
    </p>
</div>

{% endblock %}