{% extends "header.html" %}



{% block content %}


<div class="bs-example">
  <center>
    <div id="myCarousel" class="carousel slide container" data-ride="carousel" data-interval="false" style="width: 500px;">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            {% for image, stars in user_images %}
              <li data-target="#myCarousel" data-slide-to="{{loop.index-1}}" {% if loop.index==1 %}class="active" {%endif%}></li>
            {% endfor %}
        </ol>   
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner" >
            {% for image, stars in user_images %}
            <div class="item {% if loop.index==1 %}active{%endif%}">
                <img src="static/userImages/{{image}}" style="height: 400px; width: 400px;">

                {% if stars > 2.5 %}
                  <span> This image is suitable for editing <span class="glyphicon glyphicon-thumbs-up
" aria-hidden="true"></span> </span>
                {% else %}
                  <span> This image is not suitable for editing <span class="glyphicon glyphicon-thumbs-down
" aria-hidden="true"></span> </span>
                {% endif %}      

                <div class="star-ratings-css">
                  {%set perc = 125*(stars|float)/5 %}
                  <div class="star-ratings-css-top" style="width: {{perc}}%">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <div class="star-ratings-css-bottom">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>


                </div>
            </div>
            {%endfor%}
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </center>
</div>

<center>
<form action="{{url_for('index')}}" method="get">
        <button type="submit" class="btn btn-danger btn-lg" role="button">Evaluate New Images</button>
</form>
</div>
</center>
</div>




{% endblock %}
