{% extends "header.html" %}



{% block content %}

<!-- Main Image Drop Window -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">

          <!-- Standar Form -->
                    <!--

          <center>
          <h4>Select files from your computer</h4>
          
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
            </div>
          </form>
          </center>
          -->

          <!-- Drop Zone -->
          <center>

            <form id="drop" class="dropzone previews-container" action="/get_images">
                <div class="dz-message text-center panel-transparent-text">
                    <br />
                    <br />
                    <h4 class="panel-transparent-text">Click or drag to upload images here</h4>
                    <br />
                    <br />                   
                </div>
            </form>

            </center>
        </div>
    </div>
    </div>
</div>

<center>
<form action="{{url_for('rank_images')}}" method="get">
    <br>
        <button type="submit" class="btn btn-primary btn-lg" role="button">Submit Images</button>
    <br>
</form>
</center>

<!-- Display Best Images -->

<!-- Display User Images -->
{% if best_image_flag  %}
<div class="row">
    <center>
        <h1> Image Rankings: </h1>
        <div class="col-sm-offset-2 col-sm-8">

            <div class="jumbotron">
                {% for image, stars in user_images %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">

                            <img  src="static/userImages/{{image}}" class="img-responsive" style="padding-top: 5px">
                            <p>{{'%0.1f'| format(stars|float)}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </center>
</div>

{% endif %}


{% endblock %}