{% extends "header.html" %}



{% block content %}

<center><h1>Drop Your Images Here</h1></center>

{% include 'dropzone.html' %}

<center>
<form action="{{url_for('rank_images')}}" method="get">
    <br>
        <button type="submit" class="btn btn-primary btn-lg" role="button">Submit Images</button>
    <br>
</form>
</center>


<!-- Display User Images -->
{% if best_image_flag  %}
<div class="row">
    <center>
        <h1> Image Rankings: </h1>
        <div class="col-sm-offset-2 col-sm-8">

            <div class="jumbotron">
                {% for image, stars in user_images %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">

                            <img  src="static/userImages/{{image}}" class="img-responsive" style="padding-top: 5px">
                            <p>{{'%0.1f'| format(stars|float)}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </center>
</div>

{% endif %}


{% endblock %}