{% extends "header.html" %}



{% block content %}


<div class="container content"> 
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
        <!-- Indicators -->
        <ol class="carousel-indicators"> 
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol> 
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="thumbnail adjust1">
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                <div class="caption">
                                    <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                    <blockquote class="adjust2">
                                        <p>Abhijit Goswami</p>
                                        <small><cite title="Source Title">
                                        <i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> 
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <img class="media-object img-rounded img-responsive" src="http://placehold.it/100">
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="caption">
                                        <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                        <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p> 
                                        <blockquote class="adjust2">
                                            <p>Abhijit Goswami</p>
                                            <small><cite title="Source Title">
                                            <i class="glyphicon glyphicon-globe"></i> www.example2.com</cite></small>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="thumbnail adjust1">
                                    <div class="col-md-2 col-sm-2 col-xs-12">
                                        <img class="media-object img-rounded img-responsive" src="http://placehold.it/100"> 
                                    </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="caption">
                                    <p class="text-info lead adjust2">I can't wait to test this out.</p>
                                    <p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
                                    <blockquote class="adjust2">
                                        <p>Abhijit Goswami</p>
                                        <small><cite title="Source Title">
                                        <i class="glyphicon glyphicon-globe"></i> www.example3.com</cite></small>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Controls --> 
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> 
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
    </div>
</div>

<!-- Display User Images -->
{% if best_image_flag  %}
<div class="row">
    <center>
        <h1> Image Rankings: </h1>
        <div class="col-sm-offset-2 col-sm-8">

            <div class="jumbotron">
                {% for image, stars in user_images %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">

                            <img  src="static/userImages/{{image}}" class="img-responsive" style="padding-top: 5px">
                            <p>{{'%0.1f'| format(stars|float)}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </center>
</div>


{% endif %}

<center><h1>Add More Images Below, or Start Over</h1></center>


{% include 'dropzone.html' %}

<div class="row">
<center>
        <button type="submit" class="btn btn-primary btn-lg" role="button" href="{{url_for('rank_images')}}">Add More Images</button>

        <button type="submit" class="btn btn-danger btn-lg" role="button" href="{{url_for('rank_images')}}">Start Over</button>
</center>
</div>
{% endblock %}