{% extends "header.html" %}

{% block content %}

<div class="container">
    <!-- Step 1 -->
    <h1><center>Step 1: Enter your skills</center></h1>
    <br>
    <br>

    <!-- PDF Upload -->
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-5">
            <h4>Extract skills from your resume or CV:</h4>
            <form method=post action="{{ url_for('skills_from_pdf') }}" enctype=multipart/form-data>
                 <input type=file name=file>
                 <input type=submit value=Upload>
            </form>
        </div>

    <!-- or -->
    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
        <br>
        <h4>AND/OR</h4>
        <br>
    </div>


    <!-- skill inputs -->
    <div class="col-lg-4 col-md-4 col-sm-5">
        <form action="{{ url_for('add_user_skill') }}" method="POST">
            <label for="typeahead">Enter your skills (one by one):</label>
            <div class="input-group input-group-lg">
                <input name="autocomplete" type="text" id="autocomplete" class="form-control input-lg"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" role="button">Submit</button>
                </span>
            </div>
        </form>
    </div>
    </div>


    <!-- Display Skills -->
    {% if skillList | length > 0 %}
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <center>
        <h3>Your skills:</h3>
        <div class="jumbotron">
                {% for skill in skillList %}
                    <form action="{{ url_for('remove_user_skill') }}" method=post>
                        <div class="input-group">
                            {{ skill }}
                            <input type=hidden value="{{ skill }}" name="skill_to_remove"></input>
                            <button type=submit class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </form>
                {% endfor %}
        </div>
    </center>
    </div>
    </div>

    <!-- Next Page -->
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
    <center>
        <h3>After entering your skills, continue to <a href="{{ url_for('Step2')}}">Step 2</a></h3>
    </center>
    </div>
    </div>

    {% endif %}

    <!-- Modal -->
    <br>
        <center>
        <p> Is one of your skills missing from our database?  Help us improve by <a href="#" data-toggle="modal" data-target="#AddSkillModal">recommending a skill</a>.</p>
        </center>
    <br>    

    <div class="modal fade" id="AddSkillModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" 
                       data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Are we missing a skill?  Help us improve by entering it below:
                    </h4>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="{{ url_for('add_skill_to_db') }}" method=post>
                      <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                  for="UserRecommendedSkill">Enter Skill:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" 
                            id="UserRecommendedSkill" placeholder="skill" name="UserRecommendedSkill"/>
                        </div>
                      </div>        
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                                Close
                    </button>
                    <button type="button" class="btn btn-primary">
                        Submit
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>


</div>

{% endblock %}