{% extends "header.html" %}

{% block content %}

<div class="container">
    <!-- Step 2 -->
    <h1><center>We gon' suggest you some careers</center></h1>
    {% for career, strength in suggestions %}
        <form action="{{ url_for('search_suggested_career') }}" method="POST">
        	<input type=hidden value="{{ career }}" name="selected_suggestion"></input>
        	<p> We suggest <button type="submit" class="btn btn-primary">{{ career }}</button> with strength <b>{{ strength}} </b></p>
        </form>
    {% endfor %}
 
</div>

{% endblock %}
